/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background: #ffc800;
  opacity: 0.3;
  border-radius: 12px;
  gap: 4px;
  transition: all 0.3s;

  &.swiper-pagination-bullet-active {
    opacity: 1;
    width: 17px;
  }
}
